p, span, h1, h2, h3, h4, h5, h6 {
  color: #1A1A1A;
}

a, button {
  cursor: pointer;
  color: #1A1A1A;
}

.section-header {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  color: #1A1A1A;
}

.cta-wrapper {
  display: block;
  text-align: center;
}

.cta-link, .cta-button {
  display: inline-block;
  vertical-align: top;
  color: white;
  font-weight: bold;
  background-color: #0B3C49;
  border-radius: 24px;
  cursor: pointer;
  margin: 0;
  padding: 12px 34px;
}