<!DOCTYPE html>
<html lang='{{ request.locale.iso_code }}'>
<head>
    {{ content_for_header }}
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    {% liquid
      render 'vite-tag' with 'theme.scss'
      render 'vite-tag' with 'theme.mts'
    %}
</head>
<body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
</body>
</html>