<header>
    <div class='topbar-wrapper'>
        <div class='topbar-slider'>
            <div class='topbar-slide'>
                <p>Enjoy 30% off multivitamins! Use code <span>MULTI</span><a href='/collections/multivitamins'>Shop Now</a></p>
            </div>
            <div class='topbar-slide'>
                <p>Free Shipping On All Subscriptions Orders</p>
            </div>
        </div>
    </div>
</header>
{% schema %}
{
  "name": "Topbar",
  "class": "topbar-section",
  "settings": []
}
{% endschema %}